# Project exclude paths
.idea/*
.idea/workspace.xml
/ProG/__pycache__
*.pyc
.DS_Store
/data
/dataset
/Docs

/Experiment
/Utility
Experiment.zip

/wandb
/prjs

debug_*.py
batch_run_pretrain.py

c_bench.py

mcr_*.py